.dashboard {
  display: flex;
  box-sizing: border-box;
  height: calc(100vh - 58px);
}

.dashboard__sidebar {
  width: 200px;
  height: 100%;
  background-color: var(--color-bg);
}

.dashboard__content {
  flex: 1;
  overflow-y: auto;
}

.dashboard__nav-btn {
  font-family: "Anuphan", system-ui, sans-serif;
  background-color: var(--color-1);
  color: var(--color-text-1);
  width: 100%;
  height: 56px;
  
  border: 0;
}
.dashboard__nav-btn:hover {
  width: 100%;
  background-color: var(--color-2);
  border: 0;
}
.dashboard__nav-btn--active {
  background-color: var(--color-3);
  /* border: 3px solid #151515; */
}